<% content_for :title, "New list" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New list</h1>

  <%= render "form", list: @list %>

  <%= render Ui::ButtonComponent.new(variant: :secondary, full_width_mobile: true, href: lists_path, class: "mt-2 sm:mt-0 sm:ml-2") do %>
    Back to lists
  <% end %>
</div>
